/* body {background-color: black;
    
}

p {
    color: aliceblue;
}

li {
    color: aliceblue;
}

h1,h2,h3,h4,h5,h6 {
    color: aliceblue; 
}

div {
    color: aqua;
}  */
 body {
     margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

naV{
    width: 100%;
    height: 60px;
    background: rgb(7, 57, 57);
}
 
.logo{
    color: rgb(255, 255, 255);
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}


.menu{
    float: left;
    padding-left: 420px;
}
.menu li{
   
    float: left;
    line-height: 30px;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;   
    color: rgb(253, 253, 253);
    list-style-type: none; /* Убираем маркеры */
 

}
 .main {
     width:100%;
     height:1000px;
     /* background: url(../img/105964761_274197380330944_7315046208453334440_n.jpg) 90% 100%/auto 85% no-repeat, url(../img/Hrb8.jpg) center/cover no-repeat; */
     background: url(../img/105964761_274197380330944_7315046208453334440_n.jpg) 90% 50%/auto 85% no-repeat, black;
 }

 .title_container{
    float: left;
   margin: 432px 0px 0px 204px;
   color: rgb(255, 255, 255);
   text-align: center;
}
.title_container h1{
    font-size: 60px;
    font-weight: bold;

}

.title_container h4{
    margin-top: 40px;
    font-size: 22px;
    color: rgb(173, 225, 217);
}
.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid rgb(173, 225, 217);
    background: none;
    border-radius: 5px;
    color: rgb(173, 225, 217); 
    font-size: 13px;
    padding: 0px 16px ;
    margin: 58px 14px 0px 14px;
}


